@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Firefox */
  :root {
    --primary: #e7e7e7;
    --secondary: #5e59ff;
  }
  * {
    scrollbar-width: 10px;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  #sidebar::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 6px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 2px solid var(--primary);
  }

  body {
    @apply relative font-jakarta text-netral-100;
  }
}
